/* ----------------------------
banner
---------------------------- */
.row--banner
{
	position:fixed;
}


/* ----------------------------
header
---------------------------- */


img {

	width: 100%;

}

#logo{

	margin: 5px;
	margin-left:10px;
	float: left;
	width: 100px;
	height: 40px;
	display: block;

}


header {

	background: rgba(222, 208, 195, 0.95);
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #FFFFFF;
	z-index:20;
	margin-bottom:1px;

}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	float:right;
	margin-top:0;
	padding-top:10px;
	
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	
}

/*Hover state for top level links*/
li:hover a {
	background: #969696;
	transition-duration:1s;
	
}

/*Style for dropdown links*/
li:hover ul a 
{
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #969696;
	color: #fff;
	transition-timing-function:ease-out;
	
	
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}


@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}


/* ----------------------------
banner-content
---------------------------- */


/* ----------------------------
articles
---------------------------- */




/* ----------------------------
footer
---------------------------- */

.footer-text	{
	clear: both;
	width:100%;
	
	
	}

.footer-text h5	{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	padding-top: 28px;
	font-weight: 400;
	color: #c5c5c5;
	
	}

 .footer-text h5 small a	
   {
	color: #c5c5c5;
	}	
	


/* ----------------------------
Order form
---------------------------- */
p1{color:#FFFFFF; line-height:2;}
h4
{ font-size:24px;
color:#A9A9A9; }
.row-form
{
	background-size:cover;
	background-image:url(../img/sand.jpg);
	width:100%;
	height:750px;
}

.form-style
{

  position: relative;
  margin: 150px auto;
  width: 280px;
  padding: 33px 33px 33px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color:#2C3639;
  box-shadow: 0.5px 0.5px 2px 2px #000000;
  
}

.form-buttons
{padding:10px;}

.form-text 
{
	padding:10px;
	color:#CBCBCB;
}

.product-name
{
	border:thin;
	border-color:#FFFFFF;
	border-style:solid;

}



/* ----------------------------
links
---------------------------- */


