<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="layout.css" />
<link rel="stylesheet" href="modules.css" />
</head>

<body background="Coffee-Beans-HD-Wallpapers.jpg">
<table width="1000" align="center" id="table">
  <tr id="menubar">
    <td width="930" height="94"><div id="MenuBar">
    <nav>
    <ul>
    <li><a href= "#">Home</a>
    <ul>
    <li><a href= "#">Events</a></li>
    </ul>
    </li>
    <li><a href= "#">Products</a>
     <ul>
    <li><a href= "#">Order Form</a></li>
    </ul></li>
    <li><a href= "#">Services</a>
     <ul>
    <li><a href= "#">FAQ</a></li>
    </ul>
     <ul>
    <li><a href= "#">FeedBack Form</a>    </li>
     </ul>
    </li>
    <li><a href= "#">Cafe</a></li>
    </ul>
    </nav>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
