/* ----------------------------
banner
---------------------------- */



/* ----------------------------
header
---------------------------- */

#menubar{
	width: 1000px;
	height: 80px;
	margin-top: 21px;
	margn-left: auto;
	margin-right: auto;
}
	
body {
	background-color: #FFF;
	background-attachment: fixed;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #466F8F;
}

table {
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	float: left;
	display: block;
	width: 180px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif
}
nav ul li a {
	text-decoration: none;
	color: #333;
}

nav a {
	display:block;
}
nav ul li:Hover {
	background-color: #CCC
	
}
nav ul li:Hover {
	border-bottom:3px solid #000;
	
}
nav ul ul {
	display:none;
}
nav ul li:Hover>ul{
	display:block;
}
nav ul ul li {
	width: 180px;
	height:60px;
	lne-height:55px;
}
#borer {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}


/* ----------------------------
banner-content
---------------------------- */


/* ----------------------------
articles
---------------------------- */




/* ----------------------------
footer
---------------------------- */
	
	


/* ----------------------------
Sign Up
---------------------------- */



/* ----------------------------
links
---------------------------- */


